#sidebar {
    width:100px;
    background-color:#333;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100%;
    padding:20px;
    position:fixed;
    top: 0;
    padding-bottom:50px
}

.sidebar-bottom {
    position:absolute;
    bottom:0;
    width:100%
}

.sidebar-divider {
    border:0;
    height:1px;
    background-image:linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    margin:20px 0
}

.icon-button {
    background:none;
    border:none;
    color:white;
    font-size:1.5em;
    width:100%;
    padding:10px;
    cursor:pointer
}

.icon-button:hover {
    background-color:#555
}

.icon-button i {
    margin-right:5px
}

#user-profile img {
    width:100px;
    height:100px;
    border-radius:50%;
    margin-bottom:10px
}

#menu button {
    background-color:#444;
    color:white;
    padding:10px 20px;
    margin:10px 0;
    border:none;
    cursor:pointer
}

#menu button:hover {
    background-color:#555
}

#main-content {
    flex-grow:1;
    padding: 10px 10px 10px 150px;
}