.table-container {
    display:flex;
    justify-content:space-between;
    width: 80%;
}

.table-buttons-container {
    /* position: fixed; */
    /* right: 0px; */
    text-align: right;
}

.table-buttons {
display: flex;
flex-direction: column;
padding: 0 10px;
}

.table-buttons button {
background-color:#5f3180;
border:none;
color:white;
padding:15px 32px;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:16px;
margin:4px 2px;
cursor:pointer;
border-radius:50px;
box-shadow:0 4px #999
}

.table-buttons button:hover {
background-color:#43235b;
}

.table-buttons button:active {
background-color:#2b153a;
box-shadow:0 2px #666;
transform:translateY(1px)
}



.increment-buttons {
    border: 2px solid aqua;
    padding: 10px; 
    margin: 10px;
    display: inline-block;
    background-color:#ffffff;
}

.increment-buttons input {
    width: 50px;
}

.increment-buttons button {
    background-color:#5f3180;
    border:none;
    color:white;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:14px;
    margin:2px 1px;
    cursor:pointer;
    border-radius:50px;
    box-shadow:0 4px #999
}

.increment-buttons button:hover {
    background-color:#43235b;
}

.increment-buttons button:active {
    background-color:#2b153a;
    box-shadow:0 2px #666;
    transform:translateY(1px)
}