<aside id="sidebar">
    <div id="user-profile"> <img src="{{ url_for('static', filename='images/Untitled.jpg') }}" alt="User Profile Picture">
        <p>Онлайн-калькулятор доходов</p>
    </div>
    <div class="sidebar-bottom">
        <hr class="sidebar-divider"> 
        <!-- <button class="icon-button" title="Help"><i class="fas fa-question-circle"></i></button> 
        <button class="icon-button" title="Settings"><i class="fas fa-cog"></i></button> 
        <button class="icon-button" title="Logout"><i class="fas fa-sign-out-alt"></i></button> -->
    </div>
</aside>